@use "setup" as *;

body {
    @include flex(column, $gap: $spacing-500);
    padding-top: rem(50px);
    background-color: $colors-grey-200;
}

header {
    width: 100%;
    @include flex(column, $align: center);

    img {
        width: rem(87px);
    }
}

main {
    flex: 1;
    width: 100%;
    @include flex(column);
}

.calculator {
    flex: 1;
    width: 100%;
    @include flex(column, center, $gap: $spacing-400);
    background-color: $colors-white;
    padding: $spacing-400 $spacing-300;
    border-radius: rem(25px) rem(25px) 0 0;
    @include text-preset-5;
    color: $colors-grey-500;

    &__controls {
        @include flex(column, $gap: $spacing-400);
        padding: 0 $spacing-100;
    }

    &__tip-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $spacing-200;
    }

    &__results {
        @include flex(column, center, $gap: $spacing-400);
        padding: $spacing-300;
        color: $colors-white;
        background-color: $colors-green-900;
        border-radius: rem(15px);
    }

    &__reset-btn {
        background-color: $colors-green-400;
        text-transform: uppercase;
        border-radius: rem(5px);
        @include text-preset-4;
        color: $colors-green-900;
        border: 0;
        padding: $spacing-100 $spacing-200;

        &:disabled {
            background-color: $colors-green-750;
            color: $colors-green-800;
        }

        &:not(:disabled):hover {
            cursor: pointer;
            background-color: $colors-green-200;
            color: $colors-green-900;
        }
    }
}

.input-group {
    @include flex(column);
    gap: $spacing-100;
}

input[type="number"] {
    background-color: $colors-grey-50;
    padding: rem(6px) $spacing-200;
    border: 0;
    border-radius: rem(5px);
    @include text-preset-3;
    text-align: right;
    cursor: pointer;

    &::placeholder {
        color: $colors-grey-300;
    }

    &:focus-visible, &:hover {
        outline: 2px solid $colors-green-400;
    }

    // removes the "spinners"
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }


    // bill amount input with dollar icon
    &#billAmount {
        background-image: url("images/icon-dollar.svg");
        background-repeat: no-repeat;
        background-size: rem(11px) rem(17px);
        background-position: $spacing-200 center;
        padding-left: calc($spacing-200 + rem(11px));
    }

    // number of people input with person icon
    &#numberOfPeople {
        background-image: url("images/icon-person.svg");
        background-repeat: no-repeat;
        background-size: rem(13px) rem(16px);
        background-position: $spacing-200 center;
        padding-left: calc($spacing-200 + rem(13px));
    }
}

.tip-button {
    @include text-preset-3;
    color: $colors-white;
    text-align: center;
    padding: rem(6px) 0;
    background-color: $colors-green-900;
    border-radius: rem(5px);

    &:has(input[type="radio"]:checked) {
        background-color: $colors-green-400;
        color: $colors-green-900;
    }
}

.result-item {
    @include flex(row, space-between, center);
}

.result-label {
    small {
        @include text-preset-6;
        color: $colors-grey-400;
    }
}

.result-value {
    @include text-preset-2;
    line-height: normal;
    color: $colors-green-400;
}

// screen reader only - visually hides elements
.sr-only {
    position: absolute;
    width: rem(1px);
    height: rem(1px);
    padding: 0;
    margin: rem(-1px);
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

button, .tip-button {
    outline: none;
    transition: background-color 0.1s, color 0.1s;
}

.tip-button:hover,
button:focus-visible, .tip-button:has(input:focus-visible) {
    cursor: pointer;
    color: $colors-green-800;
    background-color: $colors-green-200;
}

// tablet and small desktop styles
@media (min-width: rem(480px)) {
    body {
        padding: rem(50px) 0;
    }

    header {
        flex: 1;
        justify-content: flex-end;
    }

    main {
        flex: 3;
        @include flex(column, $align: center);
    }

    .calculator {
        flex: none;
        gap: $spacing-500;
        box-sizing: content-box;
        width: clamp(rem(415px), rem(340px) + 15.625vw, rem(460px));
        padding: clamp($spacing-400, rem(5.3333px) + 5.5556vw, $spacing-600) clamp($spacing-300, rem(-69.3333px) + 19.4444vw, $spacing-1000);
        border-radius: rem(25px);

        &__controls {
            padding: 0;
            gap: $spacing-300;
        }

        &__tip-buttons {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &__results {
            padding: clamp($spacing-300, rem(-16px) + 8.3333vw, $spacing-600);
            gap: $spacing-200;
        }
    }

    .result-value {
        @include text-preset-1;
        color: $colors-green-400;
    }
}

@media (min-width: rem(1200px)) {
    body {
        gap: rem(88px);
    }

    header {
        flex: 1.2;
        justify-content: flex-end;
    }

    main {
        flex: 2;
    }
    .calculator {
        width: rem(920px);
        box-sizing: border-box;
        @include flex(row, $gap: $spacing-600);
        padding: $spacing-400 $spacing-500;

        &__controls {
            flex: 1;
            gap: $spacing-500;
            padding: rem(16.5px) 0;
        }

        &__results {
            width: rem(413px);
            @include flex(column, $gap: $spacing-300);
            padding: $spacing-500;
        }

        &__reset-btn {
            margin-top: auto;
        }
    }
}

.label-row {
    @include flex(row, space-between);
}
.error-message {
    color: $colors-orange-400;
    text-align: right;
    
    &-left {
        color: $colors-orange-400;
        text-align: left;
    }
}

// custom button
#customButton {
    position: relative;
    overflow: hidden;
    color: $colors-grey-550;
    background-color: $colors-grey-50;

    &:hover, &:hover * {
        cursor: pointer;
    }

    &:has(input[type="radio"]:checked) {
        outline: 2px solid $colors-green-400;
    }
}
#customTipWrapper {
    background-color: $colors-grey-50;
    position: absolute;
    inset: 0;
    @include flex(row, center, center);
}
#customButtonLabel {
    position: absolute;
    inset: 0;
    @include flex(row, center, center);
    z-index: 10;
}
#customTip {
    padding: 0;
    outline: none;
    // field-sizing: content; this works but only in some browsers
    // so I have to use JavaScript instead

    width: var(--dynamic-width, 1ch);
}
#customTipSymbol {
    flex-shrink: 0;
}

// state classes
.hidden {
    display: none !important;
}
.invisible {
    opacity: 0;
}
.active {
    background-color: $colors-green-400;
    color: $colors-green-800;
}
.invalid {
    outline: solid 2px $colors-orange-400 !important;
}
