*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  min-height: 100vh;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p, blockquote {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2.5rem;
  padding-top: 3.125rem;
  background-color: #c5e4e7;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
header img {
  width: 5.4375rem;
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
}

.calculator {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  background-color: #ffffff;
  padding: 2rem 1.5rem;
  border-radius: 1.5625rem 1.5625rem 0 0;
  color: inherit;
  font-feature-settings: "liga" off, "clig" off;
  /* Text Preset 5 - Space Mono Bold - rem(16px) - rem(24px) Line Height - rem(0px) Line Spacing */
  font-family: "Space Mono";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
  color: #5e7a7d;
}
.calculator__controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2rem;
  padding: 0 0.5rem;
}
.calculator__tip-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.calculator__results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  padding: 1.5rem;
  color: #ffffff;
  background-color: #00474b;
  border-radius: 0.9375rem;
}
.calculator__reset-btn {
  background-color: #26c2ae;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  color: inherit;
  font-feature-settings: "liga" off, "clig" off;
  /* Text Preset 4 - Space Mono Bold - rem(20px) - rem(30px) Line Height - rem(0px) Line Spacing */
  font-family: "Space Mono";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem; /* 150% */
  color: #00474b;
  border: 0;
  padding: 0.5rem 1rem;
}
.calculator__reset-btn:disabled {
  background-color: #0d686d;
  color: #085c61;
}
.calculator__reset-btn:not(:disabled):hover {
  cursor: pointer;
  background-color: #9fe8df;
  color: #00474b;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0;
  gap: 0.5rem;
}

input[type=number] {
  background-color: #f3f9fa;
  padding: 0.375rem 1rem;
  border: 0;
  border-radius: 0.3125rem;
  color: inherit;
  font-feature-settings: "liga" off, "clig" off;
  /* Text Preset 3 - Space Mono Bold - rem(24px) - rem(36px) Line Height - rem(0px) Line Spacing */
  font-family: "Space Mono";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem; /* 150% */
  text-align: right;
  cursor: pointer;
  -moz-appearance: textfield;
}
input[type=number]::placeholder {
  color: #9ebbbd;
}
input[type=number]:focus-visible, input[type=number]:hover {
  outline: 2px solid #26c2ae;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]#billAmount {
  background-image: url("images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-size: 0.6875rem 1.0625rem;
  background-position: 1rem center;
  padding-left: calc(1rem + 0.6875rem);
}
input[type=number]#numberOfPeople {
  background-image: url("images/icon-person.svg");
  background-repeat: no-repeat;
  background-size: 0.8125rem 1rem;
  background-position: 1rem center;
  padding-left: calc(1rem + 0.8125rem);
}

.tip-button {
  color: inherit;
  font-feature-settings: "liga" off, "clig" off;
  /* Text Preset 3 - Space Mono Bold - rem(24px) - rem(36px) Line Height - rem(0px) Line Spacing */
  font-family: "Space Mono";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem; /* 150% */
  color: #ffffff;
  text-align: center;
  padding: 0.375rem 0;
  background-color: #00474b;
  border-radius: 0.3125rem;
}
.tip-button:has(input[type=radio]:checked) {
  background-color: #26c2ae;
  color: #00474b;
}

.result-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

.result-label small {
  color: inherit;
  font-feature-settings: "liga" off, "clig" off;
  /* Text Preset 6 - Space Mono Bold - rem(13px) - rem(19px) Line Height - rem(0px) Line Spacing */
  font-family: "Space Mono";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1875rem; /* 146.154% */
  color: #7f9d9f;
}

.result-value {
  color: inherit;
  font-feature-settings: "liga" off, "clig" off;
  /* Text Preset 2 - Space Mono Bold - rem(32px) - rem(47px) Line Height - rem(-0.67px) Line Spacing */
  font-family: "Space Mono";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.9375rem; /* 146.875% */
  letter-spacing: -0.041875rem;
  line-height: normal;
  color: #26c2ae;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

button, .tip-button {
  outline: none;
  transition: background-color 0.1s, color 0.1s;
}

.tip-button:hover,
button:focus-visible, .tip-button:has(input:focus-visible) {
  cursor: pointer;
  color: #085c61;
  background-color: #9fe8df;
}

@media (min-width: 30rem) {
  body {
    padding: 3.125rem 0;
  }
  header {
    flex: 1;
    justify-content: flex-end;
  }
  main {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
  }
  .calculator {
    flex: none;
    gap: 2.5rem;
    box-sizing: content-box;
    width: clamp(25.9375rem, 21.25rem + 15.625vw, 28.75rem);
    padding: clamp(2rem, 0.33333125rem + 5.5556vw, 3rem) clamp(1.5rem, -4.33333125rem + 19.4444vw, 5rem);
    border-radius: 1.5625rem;
  }
  .calculator__controls {
    padding: 0;
    gap: 1.5rem;
  }
  .calculator__tip-buttons {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .calculator__results {
    padding: clamp(1.5rem, -1rem + 8.3333vw, 3rem);
    gap: 1rem;
  }
  .result-value {
    color: inherit;
    font-feature-settings: "liga" off, "clig" off;
    /* Text Preset 1 - Space Mono Bold - rem(48px) - rem(71px) Line Height - rem(-1px) Line Spacing */
    font-family: "Space Mono";
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.4375rem; /* 147.917% */
    letter-spacing: -0.0625rem;
    color: #26c2ae;
  }
}
@media (min-width: 75rem) {
  body {
    gap: 5.5rem;
  }
  header {
    flex: 1.2;
    justify-content: flex-end;
  }
  main {
    flex: 2;
  }
  .calculator {
    width: 57.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 3rem;
    padding: 2rem 2.5rem;
  }
  .calculator__controls {
    flex: 1;
    gap: 2.5rem;
    padding: 1.03125rem 0;
  }
  .calculator__results {
    width: 25.8125rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1.5rem;
    padding: 2.5rem;
  }
  .calculator__reset-btn {
    margin-top: auto;
  }
}
.label-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
}

.error-message {
  color: #e17052;
  text-align: right;
}
.error-message-left {
  color: #e17052;
  text-align: left;
}

#customButton {
  position: relative;
  overflow: hidden;
  color: #547878;
  background-color: #f3f9fa;
}
#customButton:hover, #customButton:hover * {
  cursor: pointer;
}
#customButton:has(input[type=radio]:checked) {
  outline: 2px solid #26c2ae;
}

#customTipWrapper {
  background-color: #f3f9fa;
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}

#customButtonLabel {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  z-index: 10;
}

#customTip {
  padding: 0;
  outline: none;
  width: var(--dynamic-width, 1ch);
}

#customTipSymbol {
  flex-shrink: 0;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
}

.active {
  background-color: #26c2ae;
  color: #085c61;
}

.invalid {
  outline: solid 2px #e17052 !important;
}

/*# sourceMappingURL=style.css.map */
